.App {
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: white;

    background-color: #166d3b;
    background-image: linear-gradient(-33deg, #166d3b 0%, #000000 74%);
    height: 100vh;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

#dropdown-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.dropdown {
    margin: 5%;

}

#footer {
    position: fixed;
    bottom: 0;

    width: 100%;

    text-align: center;

    background-color: rgb(77, 77, 77);
}